@import url('https://fonts.googleapis.com/css?family=Roboto+Lato+Montserrat');

.today--section {
  padding: 30px;
}

.today--section h2 {
  font-size: 20px;
}

.today--section__box {
  background-color: rgb(24,28,44);
  padding: 10px;
  border-radius: 14px;
  box-shadow:  5px 5px 20px 0 rgba(2, 2, 2, 0.5);
}

.symbol--icon{
  width: 20%;
  display: block;
  position: absolute;

}

.btc--section {
  padding-left: 30%;
  border-right: 1px solid #dae1e9;
}

.btc--section h5 {
  font-size: 30px;
  font-family: "Roboto Bold";
  font-weight: 600;
}

.eth--section {
  text-align: center;
  border-right: 1px solid #dae1e9;
}

.eth--section h5 {
  font-size: 30px;
}
.ltc--section {
  text-align: center;
  border-right: 1px solid #dae1e9;
}

.ltc--section h5 {
  font-size: 30px;
}

@media (max-width: 480px) {
  .eth--section {
    border-right: none;
  }

  .btc--section {
    border-right: none;
  }

  .today--section {
    margin-top: 5px;
  }
}
